extends includes/layout.pug

block content
  article
    h1 Séjourner à Biscarosse Lac
    header 
      p Biscarosse Lac est une destination idéale pour un séjour en famille, entre amis ou en couple. Que vous soyez amateur de sports nautiques, de randonnées en forêt, ou de farniente sur la plage, vous trouverez forcément votre bonheur autour des lacs de Biscarosse. Découvrez nos hébergements et préparez votre séjour en toute sérénité !
    section
      h2 Campings : pour les amoureux de la nature
      p Biscarrosse est connue pour ses nombreux campings situés dans un cadre naturel exceptionnel, souvent au milieu des pins ou à proximité des lacs. Ces établissements, allant du plus simple au plus luxueux, proposent des emplacements pour tentes, caravanes et camping-cars. Vous pouvez aussi opter pour des mobil-homes tout équipés, idéals pour un confort maximal en famille ou entre amis. Les campings haut de gamme offrent également des infrastructures telles que des piscines, des parcs aquatiques, des restaurants et des clubs pour enfants.
      figure
        img(src=baseURL + '/assets/img/camping.webp', alt="Camping au bord du lac de Biscarrosse")
        figcaption Camping au bord du lac de Biscarrosse © Camping MaGuide
      p Certains campings, comme ceux situés en bordure du lac de Sanguinet ou de Navarrosse, offrent un accès direct aux plages du lac, ce qui permet de profiter des activités nautiques et de la baignade en toute simplicité. Vous pouvez ainsi combiner l’esprit du camping avec les plaisirs de l’eau.
    section  
      h3 Hôtels et résidences de vacances : pour un confort moderne
      p Si vous préférez un hébergement plus traditionnel, Biscarrosse dispose également d'une variété d'hôtels et de résidences de vacances. Les hôtels, souvent situés près des plages océanes ou autour des lacs, offrent des services personnalisés et des équipements modernes tels que spas, des piscines et restaurants gastronomiques. Vous trouverez des hôtels adaptés à tous les budgets, des établissements de charme aux complexes hôteliers plus luxueux.
      p Les résidences de vacances, quant à elles, sont idéales pour les familles ou les groupes cherchant un peu plus d’indépendance. Elles proposent des appartements tout équipés, souvent avec cuisine et balcon ou terrasse, vous permettant de préparer vos repas et de profiter de la vue sur les lacs ou la forêt environnante.
    section 
      h3 Locations de vacances : pour un séjour sur mesure
      p Pour un séjour sur mesure, les locations de vacances sont une excellente option. Biscarrosse regorge de maisons et de villas à louer, souvent situées à proximité des lacs ou de l’océan. Ces hébergements offrent un confort optimal, avec des équipements modernes, des jardins privatifs, et parfois même des piscines. Vous pouvez choisir une location adaptée à la taille de votre groupe, que vous voyagiez en famille, entre amis, ou en couple.
      figure
        img(src=baseURL + '/assets/img/location.webp', alt="Location de vacances à Biscarrosse")
        figcaption Location de vacances à Biscarrosse
    footer 
      p Avec cette variété d’hébergements, Biscarrosse s’adapte à toutes les envies, qu’il s’agisse d’un séjour au grand air, d’un week-end relaxant ou d’une aventure insolite au cœur de la nature landaise. Réservez dès maintenant votre hébergement et préparez-vous à vivre des vacances inoubliables au bord des lacs de Biscarrosse !
      
  aside.extLinks 
    h5 Liens Utiles
    ul
      li
        a(href="https://www.biscarrosse.fr" title="Site officiel de la ville de Biscarrosse" rel="noreferer" target="_blank")
          | Site officiel de la ville de Biscarrosse
      li
        a(href="https://www.tourisme-landesdargent.com" title="Office de Tourisme des Landes d'Argent" rel="noreferer" target="_blank")
          | Office de Tourisme des Landes d'Argent
      li
        a(href="https://www.biscagrandslacs.fr" title="Communauté de communes des Grands Lacs" rel="noreferer" target="_blank")
          | Communauté de communes des Grands Lacs
      
