extends includes/layout.pug

block content
  article
    h1  Comment se rendre à Biscarrosse, circuler et stationner
    header 
      p Se rendre à Biscarrosse est facile, que vous veniez en voiture, en train, ou même en avion. Cette station balnéaire, nichée entre les lacs et l’océan Atlantique, bénéficie d’une bonne accessibilité depuis les principales villes de la région, notamment Bordeaux, Dax et Arcachon. Une fois sur place, vous pourrez profiter des infrastructures locales pour vous déplacer aisément et explorer les merveilles naturelles des lacs et des plages.
    section
      h2 Accès à Biscarrosse
      section
        h3 Venir en voiture
        p La voiture est sans doute le moyen le plus pratique pour se rendre à Biscarrosse, surtout si vous voyagez en famille ou avec beaucoup de bagages. Située à environ 80 km au sud-ouest de Bordeaux, Biscarrosse est accessible par l’autoroute A63 en direction de Bayonne, puis en empruntant la sortie 17 en direction de Biscarrosse via la D652. Depuis Paris, le trajet est d’environ 6 heures et demie par l’autoroute A10.
        p Une fois arrivé à Biscarrosse, vous trouverez plusieurs parkings publics, notamment près des plages et des zones touristiques, facilitant le stationnement pour la journée. Pendant la haute saison estivale, des parkings supplémentaires et des navettes gratuites sont souvent mis à disposition pour faciliter l'accès aux plages très fréquentées, comme celles de Biscarrosse-Plage.
      section
        h3 Venir en train
        p Biscarrosse ne dispose pas de gare ferroviaire, mais la ville est desservie par la gare de Ychoux, située à environ 20 km au nord-est. Cette gare est desservie par des trains régionaux TER Nouvelle-Aquitaine en provenance de Bordeaux, Arcachon, et Dax. Depuis la gare de Ychoux, vous pouvez rejoindre Biscarrosse en taxi, en bus, ou en covoiturage.
        p Pour les voyageurs en provenance de Paris, il est possible de prendre un TGV jusqu’à Bordeaux, puis de rejoindre Biscarrosse en train régional ou en voiture de location. Le trajet en train depuis Bordeaux dure environ 1 heure et demie.
      section
        h3 Venir en avion
        p L’aéroport le plus proche de Biscarrosse est l’aéroport de Bordeaux-Mérignac, situé à environ 80 km à l’est. Cet aéroport international est desservi par de nombreuses compagnies aériennes proposant des vols nationaux et internationaux. Depuis l’aéroport, vous pouvez louer une voiture, prendre un taxi, ou utiliser les transports en commun pour rejoindre Biscarrosse.
        p Si vous possédez un avion privé, l’aéroport de Biscarrosse-Parentis est une option pratique pour atterrir directement à proximité de la ville. Cet aéroport accueille des vols privés et des vols de tourisme, et propose des services de location de véhicules pour faciliter votre arrivée à Biscarrosse.
    section.tallest
      h2 Circuler à Biscarrosse
      section 
        h3 En voiture
        p La voiture est le moyen le plus pratique pour se déplacer à Biscarrosse et dans ses environs, surtout si vous souhaitez explorer les lacs, les plages, et les forêts alentours. La ville est bien desservie par un réseau routier bien entretenu, avec des routes départementales reliant les différents quartiers et les sites touristiques. Vous trouverez également des parkings gratuits et payants dans les zones touristiques et près des plages.
        p Pendant la saison estivale, la circulation peut être plus dense, surtout aux abords des plages et des lacs. Il est recommandé de privilégier les déplacements tôt le matin ou en fin de journée pour éviter les embouteillages. Les pistes cyclables et les sentiers pédestres sont également des moyens agréables de découvrir la région, en particulier le long des lacs et des plages.
      section
        h3 En bus
        p Biscarrosse dispose d’un service de bus local, surtout actif durant la saison touristique, pour relier les principaux sites d’intérêt, notamment Biscarrosse-Ville, Biscarrosse-Plage, et les lacs. Des navettes spéciales sont également mises en place en été pour faciliter l’accès aux plages et éviter les problèmes de stationnement.
        p Les horaires et les tarifs des bus sont disponibles à l’Office de Tourisme de Biscarrosse, ainsi que sur le site internet de la ville. 
        figure
          img(src=baseURL + '/assets/img/carte_lac.webp', alt="Bus de la ville de Biscarrosse")
          figcaption Bus de la ville de Biscarrosse
      section#PistesCyclables
        h3 À vélo
        p Le vélo est un moyen idéal pour découvrir Biscarrosse et ses environs, en particulier les lacs et les forêts. La ville dispose de nombreuses pistes cyclables sécurisées, permettant de circuler en toute tranquillité et de profiter des paysages naturels. Vous pouvez louer des vélos dans les magasins de location locaux, ou utiliser votre propre vélo si vous l’avez apporté avec vous.
        p Les pistes cyclables longent les lacs, les plages, et les forêts, offrant des itinéraires variés pour tous les niveaux. Vous pouvez ainsi explorer la région à votre rythme, en faisant des pauses pour admirer les paysages ou vous arrêter dans les villages alentours.
        figure
          img(src=baseURL + '/assets/img/velo.webp', alt="Pistes cyclables autour des lacs de Biscarrosse")
          figcaption Pistes cyclables autour des lacs de Biscarrosse
    section
      h2 Stationner à Biscarrosse
      p Le stationnement à Biscarrosse est bien organisé, avec plusieurs parkings publics disponibles dans les zones touristiques clés. Autour des lacs, notamment près de la plage de Navarrosse, des parkings sont accessibles et gratuits dans la plupart des cas. Pour les plages océanes, comme celles de Biscarrosse-Plage, des parkings payants sont disponibles en haute saison. Cependant, il est recommandé d’arriver tôt pour éviter les embouteillages et trouver une place facilement, surtout pendant les mois de juillet et août.
    footer 
      p Que vous choisissiez de venir en voiture, en train, ou même en avion, Biscarrosse offre une accessibilité facile et des solutions de mobilité pratiques pour que votre séjour se déroule sans encombre.
      
  aside.extLinks 
    h5 Liens Utiles pour se rendre à Biscarrosse
    ul
      li
        a(href="https://www.bordeaux.aeroport.fr" title="Aéroport de Bordeaux-Mérignac" rel="noreferer" target="_blank")
          | Aéroport de Bordeaux-Mérignac
      li
        a(href="https://www.ter.sncf.com/nouvelle-aquitaine" title="TER Nouvelle-Aquitaine" rel="noreferer" target="_blank")
          | TER Nouvelle-Aquitaine
      li
        a(href="https://www.biscarrosse.fr" title="Site officiel de la ville de Biscarrosse" rel="noreferer" target="_blank")
          | Site officiel de la ville de Biscarrosse
      
